.header{
    z-index:999;
    display:grid;
    grid-template-columns: 13rem 3fr 1fr;
    color:white;
    background-color: black;
    height:6rem;
    width:100%;
    align-items: center;
    position:fixed;
    top:0px;
    transition: all 0.3s ease-in-out;
    padding-right:3rem;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.logo{
    transform:translateX(5rem);
    font-size:3rem;
}

.header-nav{
    display:flex;
    justify-content: space-evenly; 
}

.header-icons{
    display:flex;
    justify-content: space-evenly;
}


.header-nav > nav {
    position: relative; 
}

.header-nav > nav:hover{
    color:rgb(168, 168, 168);
    cursor: pointer;
}

.header-nav > nav::after{
    position:absolute;
    left:0rem;
    content:'';
    width:0%;
    border-radius: 4px;
    height:0.5rem;
    background-color: white;
    bottom:-1.5rem;
    transition: all 0.4s;
    
}

.header-nav > nav:hover::after{
    width:100%;
}

.searchbar{
    transition:all 0.3s ease-in-out;
    width:60%;
    padding:0px;
    height:2.7rem;
    opacity:1;
    background-color: transparent;
    color: white;
    border: 1px rgb(54, 54, 54) solid;
    padding-left:1rem;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.searchbar::placeholder{
    color:white;
}

.cart-item-number{
    position: relative;
}

.cart-item-number > div{
    position:absolute;
    border-radius: 50%;
    width:1.5rem;
    height:1.5rem;
    background-color: red;
    top:1rem;
    left:1rem;
    text-align: center;
}
