
/*
Gallery
*/



.buy-now-button{
    margin-top:4rem;
    height:4.5rem;
    width:17rem;
    background-color: rgb(200 16 46);
    color:white;
    font-size:1.7rem;
    text-align: start;
    padding-left:1.5rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    z-index:100;
}

.buy-now-button:hover{
    background-color: rgb(241, 23, 60);
}


/*
featured
*/

.featured-products{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:3rem;
    width:100%;
    overflow: hidden;
}


 
.featured-products img{
   height:100%;
   width:100%;
   object-fit: cover;
}




.left-featured >div{
    width:100%;
    display: flex;
    flex-direction: column;
}


.featured-info{
    bottom:0rem;
    font-size:1.8rem;
    
}

.right-featured{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.blog-preview{
    display:grid;
    grid-template-columns: 25% 75%;
    height:15rem;  
}

.blog-preview img{
    height:10vw;
    width:10vw;
}

.blog-preview-info{
    display:flex;
    flex-direction: column;
    font-size:1.5rem;
    padding:1rem 3rem;
}

@media(max-width:765px){
    .featured-products{
        display: flex;
        flex-direction: column;
        row-gap: 10rem;
    }

    .blog-preview{
        height:20rem;
    }

    .blog-preview img{
        height:20rem;
        width:20rem;
    }
}

/*Special*/
.special-odd , .special-even{
    height:50rem;
    background-color: rgb(0, 0, 0);
    display:grid;
    column-gap: 5rem;
    margin:12rem 4rem;
    transition: all 0.5s ease-in-out;
}

.special-odd{
    grid-template-columns: 1fr 1.2fr ;
    
}

.special-even{
    grid-template-columns:  1.2fr 1fr ;
   
}

.special-even > .special-img{
    order:2;
}

.special-even > .special-texts{
    order:1;
}

.special-even> .special-img > img{
    clip-path: polygon(12% 0, 100% 0, 100% 88%, 88% 100%, 0 100%, 0 12%);

}

.special-odd> .special-img > img{
    clip-path: polygon(12% 0, 100% 0, 100% 88%, 88% 100%, 0 100%, 0 12%);
}

.special-texts{
    font-size: 2rem;
    padding-top:10%;
}

.carasoule{
    height:20rem;
    margin:10rem 0px;
    display:flex;
    align-items:center;
    font-weight:bolder;
    font-size:5.5rem;
    overflow:hidden;
}

.carasoule:hover > .thisStyle{
    animation-play-state: paused;
    
}

.thisStyle{
    display:flex;
    column-gap: 8.5rem;
    padding-right:5rem;
    animation: slide 6s infinite linear;
}

@keyframes slide {
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.community-container{
    position: relative;
    margin:4rem;
}


.community{
    
    display:flex;
    column-gap: 5vh;
    overflow-x:scroll;
    overflow-y: hidden;
  
}

.community-container > button{
    position: absolute;
    background-color: rgb(241, 23, 60);
    width:5rem;
    height:5rem;
    top:40%;
    bordeR:none;
    border-radius: 50%;
    color:white;
    font-size:300%;
}
.community-image{
    height:32rem;
    width:32rem;
    flex-shrink: 0;
}

@keyframes pop {
    from{
        opacity:0;
    }to{
        opacity: 1;
    }
}

.community::-webkit-scrollbar{
    display:none;
}

.slider-img{
    animation: pop 0.3s linear;
}




